# Node.js dependencies
node_modules/

# Build files
build/
dist/

# Source code
src/

# Environment variables
.env

# Log files
*.log

# Package management files
package.json
package-lock.json

# Operating system files
.DS_Store

# Other editor/system-specific files
.idea/
.vscode/
